@using MSIS_HMS.Enums;
@using static MSIS_HMS.Infrastructure.Helpers.DateTimeExtensions;
@model MSIS_HMS.Core.Entities.OperationTreater

<div class="col-xs-12 ">

    <div class=" bg-w">
        <div class="col-lg-12 col-xs-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form action="/OperationTreater/@ViewData["Action"]" method="post">
                            @Html.AntiForgeryToken()
                            @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                            {
                                <input asp-for="Id" hidden />
                                <input asp-for="BranchId" hidden />
                            }
                            @if (Model != null)
                            {
                                @if (Model.PatientId != 0)
                                {
                                    <input asp-for="PatientId" hidden />
                                }                             
                                @if (Model.OperationRoomId != 0)
                                {
                                    <input asp-for="OperationRoomId" hidden/>
                                }
                                 @if (Model.ChiefSurgeonDoctorId != 0)
                                {
                                    <input asp-for="ChiefSurgeonDoctorId" hidden />
                                }
                                @if (Model.OpeartionTypeId != 0)
                                {
                                    <input asp-for="OpeartionTypeId" hidden/>
                                }

                            }
                            
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="OrderDate">Date</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                                            {
                                                <input type="date" class="form-control" asp-for="OperationDate">
                                            }
                                            else
                                            {
                                                <input type="date" class="form-control" asp-for="OperationDate" value="@DateTime.Now.ToDateString()">
                                            }
                                            <span asp-validation-for="OperationDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="PatientId">Patient</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="PatientId" asp-items="ViewBag.Patients" disabled="@(Model!=null && Model.PatientId != 0)" >
                                                <option value="">Please Select Patient</option>
                                            </select>
                                            <span asp-validation-for="PatientId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="OpeartionTypeId">Operation Name</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="OpeartionTypeId" asp-items="ViewBag.OperationTypes" disabled=@(Model!=null && Model.OpeartionTypeId !=0)>
                                                <option value="">Please Select Operation Name</option>
                                            </select>
                                            <span asp-validation-for="OpeartionTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="type">Urgent/Elective</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="Type" asp-items="@Html.GetEnumSelectList<MSIS_HMS.Core.Enums.OperationTypeEnum>()">
                                                <option value="">Please Select  Type</option>
                                            </select>
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="OperationRoomId">Operation Room</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="OperationRoomId" asp-items="ViewBag.OperationRooms" disabled="@(Model!=null && Model.OperationRoomId !=0)">
                                                <option value="">Please Select Operation Room</option>
                                            </select>
                                            <span asp-validation-for="OperationRoomId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="Status">LA</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                           <input type="text" class="form-control" asp-for="Status"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="type">Operation Type</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="OTType" asp-items="@Html.GetEnumSelectList<MSIS_HMS.Core.Enums.OTTypeEnum>()">
                                                <option value="">Please Select Operation Type</option>
                                            </select>  
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="DiagnosisId">Diagnosis</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="DiagnosisId" asp-items="ViewBag.Diagnosiss">
                                                <option value="">Please Select Diagnosis</option>
                                            </select>
                                            <span asp-validation-for="DiagnosisId" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-3 form-group">
                                        <label class="form-label" for="WarehouseId">Chief Surgeon</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="ChiefSurgeonDoctorId" asp-items="ViewBag.Doctors" disabled="@(Model!=null && Model.ChiefSurgeonDoctorId != 0)">
                                                <option value="">Please Select Chief Surgeon</option>
                                            </select>
                                            <span asp-validation-for="ChiefSurgeonDoctorId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label class="form-label" for="ChiefSurgeonFee">Fee</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="ChiefSurgeonFee"/>
                                            <span asp-validation-for="ChiefSurgeonFee" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="form-label" for="WarehouseId">Aneasthetist</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="AneasthetistDoctorId" asp-items="ViewBag.Aneasthetists">
                                                <option value="">Please Select Aneasthetist</option>
                                            </select>
                                            <span asp-validation-for="AneasthetistDoctorId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="form-label" for="AneasthetistFee">Fee</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="AneasthetistFee" />
                                            <span asp-validation-for="AneasthetistFee" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="ReferrerId">Referrer</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="ReferrerId" asp-items="ViewBag.Referrers">
                                                <option value="">Please Select Referrer</option>
                                            </select>
                                            <span asp-validation-for="ReferrerId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="ReferrerFee">Referrer Fee</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="ReferrerFee" />
                                            <span asp-validation-for="ReferrerFee" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="Diagnosis">Diagnosis</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="Diagnosis"/>
                                            <span asp-validation-for="Diagnosis" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="PaidBy">Paid By</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="PaidBy" />
                                            <span asp-validation-for="PaidBy" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row" id="root"></div>

                                </div>
                            </div>
                            <div class="col-xs-12  padding-bottom-30">
                                <div class="text-left">
                                   
                                    <button type="submit" class="btn btn-primary gradient-blue">Save</button>
                                    <button type="button" data-href="/OperationTreater/index" class="btn btn-click">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
