@using MSIS_HMS.Core.Entities
@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard col-lg-12">
    <section class="box nobox marginBottom0">
        <div class="content-body">
            <div class="row">

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">
                        @*class="r4_counter db_box"*@

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.DailyIncome    <small>MMK</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/daily-income.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>

                            <span>Daily Income</span>

                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.MonthlyIncome <small>MMK</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/monthly-income.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>Monthly Income</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TotalPatient  <small></small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/total-patient.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>Total Patients</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TodayOrder <small>Orders</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/order.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>In Pharmacy Today</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TodayVisit <small>Visits</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/visit.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>In Out Patient Today</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TodayAdmitted <small>Patients</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/admit-patient.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>Admitted Today</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TodayDischarged <small>Patients</small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/discharge-patient.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>Discharged Today</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">

                        <div class="stats1">
                            <h3 class="mb-5">
                                @ViewBag.TodayOT <small></small>
                                <i class="pull-right ico-icon icon-md icon-primary mt-10">
                                    <img src="../data/icons/AdminDashboard/color/operation.svg" class="ico-icon-o" alt="">
                                </i>
                            </h3>
                            <span>Today Operations</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </section>
</div>

<div class="clearfix"></div>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-8">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">statistics <small>(@ViewBag.CurrentMonth)</small></h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table vm table-small-font no-mb table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Module</th>
                                    <th class="money">Daily Income</th>
                                    <th class="money">Monthly Income</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var amt in ViewBag.DailyAndMonthly)
                                {
                                    <tr>
                                        <td>@amt.No</td>
                                        <td>@amt.Module</td>
                                        <td class="money">@amt.DailyIncome MMK</td>
                                        <td class="money">@amt.MonthlyIncome MMK</td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="money"><b>Total</b></td>
                                    <td class="money"><b>@ViewBag.TotalDailyAmt MMK</b></td>
                                    <td class="money"><b>@ViewBag.TotalMonthlyAmt MMK</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Monthly Income</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="chart-container">
                        <div class="" style="height:200px" id="browser_type_admin"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="clearfix"></div>

<!-- MAIN CONTENT AREA ENDS -->