@using MSIS_HMS.Enums
@using X.PagedList.Mvc.Core
@using X.PagedList
@using static MSIS_HMS.Helpers.FormatHelper
@using static MSIS_HMS.Infrastructure.Helpers.DateTimeExtensions;
@model IPagedList<MSIS_HMS.Core.Entities.IPDRecord>
@{
    var controller = "IPDRecords";
    ViewData["Title"] = "All Admission";
    var count = 1;
    var query = Context.Request.Query;
    var Status = query["Status"];
    var PaymentType = query["PaymentType"];
    var AdmissionType = query["AdmissionType"];
    var BedId = query["BedId"];
    var RoomId = query["RoomId"];
    var VoucherNo = query["VoucherNo"];
    var BarCode = query["BarCode"];
    var QRCode = query["QRCode"];
    ViewData["Query"] = query;
}

<div class="col-xs-12 ">
    <div class=" bg-w">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne1">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class='fa fa-search'></i> Search
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                        <div class="panel-body">
                            <form method="get" action="/@controller/Index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="field-2">Voucher No</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="VoucherNo" value="@VoucherNo">
                                                @* <span asp-validation-for="BranchId" class="text-danger"></span> *@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="RoomId">Room</label>
                                            <div class="controls">
                                                <select class="form-control" name="RoomId" asp-items="ViewBag.Rooms">
                                                    <option value="">Please Select Room</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="BedId">Bed</label>
                                            <div class="controls">
                                                <select class="form-control" name="BedId" asp-items="ViewBag.Beds">
                                                    <option value="">Please Select Bed</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="PaymentType">PaymentType</label>
                                            <div class="controls">
                                                <select class="form-control" name="PaymentType" asp-items="@Html.GetEnumSelectList<MSIS_HMS.Core.Enums.PaymentTypeEnum>()" id="field-8">
                                                    <option value="">Please Select Payment Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="AdmissionType">AdmissionType</label>
                                            <div class="controls">
                                                <select class="form-control" name="AdmissionType" asp-items="@Html.GetEnumSelectList<MSIS_HMS.Core.Enums.AdmissionTypeEnum>()" id="field-8">
                                                    <option value="">Please Select Payment Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="field-2">Status</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="Status" value="@Status">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" hidden>
                                        <div class="form-group">
                                            <label class="form-label" for="BarCode">BarCode</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="BarCode" value="@BarCode" id="BarCode" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group">
                                            <label class="form-label" for="QRCode">QRCode</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="QRCode" value="@QRCode" id="QRCode" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">&nbsp;</label>
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary gradient-blue">Search</button>
                                                <button type="button" data-href="/@controller/index" class="btn btn-click">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left"></h2>
                    <div class="actions panel_actions pull-right">
                        <button data-href="/@controller/create" class="btn btn-click btn-primary gradient-blue">Create</button>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <table id="example" class="display table table-hover table-condensed" style="cursor:pointer;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Voucher No</th>
                                        <th>PatientName</th>
                                        <th>Department</th>
                                        <th>RoomNo</th>
                                        <th>BedNo</th>
                                        <th>DOA</th>
                                        <th>PaymentType</th>
                                        <th>AdmissionType</th>
                                        <th>Admission Status</th>
                                        <th>Paid</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (@item.IPDStatusEnum == MSIS_HMS.Core.Enums.IPDStatusEnum.Admission)
                                        {
                                            <tr onclick="gotoDetail(@item.Id)">
                                                <td>@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                                <td>@item.VoucherNo</td>
                                                <td>@item.PatientName</td>
                                                <td>@item.DepartmentName</td>
                                                @if (@item.Room == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@item.RoomNo</td>
                                                }
                                                @if (@item.Bed == null)
                                                {
                                                    <td>-</td>
                                                }
                                                else
                                                {
                                                    <td>@item.BedNo</td>
                                                }
                                                <td>@item.DOA</td>
                                                <td>@item.PaymentType</td>
                                                <td>@item.AdmissionType</td>
                                                <td>@item.IPDStatusEnum.ToDescription()</td>
                                                <td>
                                                    <input tabindex="5" type="checkbox" disabled class="icheck-minimal-red menuChk" checked="@item.IsPaid">
                                                </td>
                                                <td style="text-align: right;">
                                                    <a asp-controller="@controller" asp-action="PrintSlip" asp-route-Id="@item.PatientId" class="btn btn-xs btn-secondary">Print Slip</a>
                                                    <a asp-controller="LabResults" asp-action="Index" asp-route-patientId="@item.PatientId" class="btn btn-xs btn-secondary">Lab Result</a>
                                                    <a asp-controller="ImagingResult" asp-action="Index" asp-route-patientId="@item.PatientId" class="btn btn-xs btn-secondary">Imaging Result</a>
                                                    <a asp-controller="LabOrders" asp-action="Create" asp-route-patientId="@item.PatientId" class="btn btn-xs btn-secondary">Lab Order</a>
                                                    <a asp-controller="Discharge" asp-action="Index" asp-route-ipdRecordId="@item.Id" class="btn btn-xs btn-secondary">Discharge</a>
                                                    <a asp-controller="@controller" asp-action="ChangeRoom" asp-route-ipdRecordId="@item.Id" class="btn btn-xs btn-secondary">Bed Transfer</a>
                                                    <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-xs btn-secondary">Edit</a>
                                                    <button asp-controller="@controller" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-xs btn-secondary"
                                                    onclick="DeleteConfirm('/@controller/Delete/',@item.Id)">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                        if(@item.IPDStatusEnum == MSIS_HMS.Core.Enums.IPDStatusEnum.Draft)
                                        {
                                <tr>
                                    <td>@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                    <td>@item.VoucherNo</td>
                                    <td>@item.Patient.Name</td>
                                    <td>@item.Department.Name</td>
                                    @if (@item.Room == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.Room.RoomNo</td>
                                    }
                                    @if (@item.Bed == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.Bed.No</td>
                                    }
                                    <td>@item.DOA</td>
                                    <td>@item.PaymentType</td>
                                    <td>@item.AdmissionType</td>
                                    <td>@item.IPDStatusEnum.ToDescription()</td>
                                    <td>
                                        <input tabindex="5" type="checkbox" disabled class="icheck-minimal-red menuChk" checked="@item.IsPaid">
                                    </td>
                                    <td style="text-align: right;">
                                        <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-xs btn-secondary">Edit</a>
                                        <button asp-controller="@controller" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-xs btn-secondary"
                                                onclick="DeleteConfirm('/@controller/Delete/',@item.Id)">
                                            Delete
                                        </button>
                                    </td>
                                </tr> 
                                        }
                                        if(@item.IPDStatusEnum == MSIS_HMS.Core.Enums.IPDStatusEnum.Discharged)
                                        {
                                <tr onclick="gotoDetail(@item.Id)">
                                    <td>@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                    <td>@item.VoucherNo</td>
                                    <td>@item.Patient.Name</td>
                                    <td>@item.Department.Name</td>
                                    @if (@item.Room == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.Room.RoomNo</td>
                                    }
                                    @if (@item.Bed == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.Bed.No</td>
                                    }
                                    <td>@item.DOA</td>

                                    <td>@item.PaymentType</td>
                                    <td>@item.AdmissionType</td>
                                    <td>@item.IPDStatusEnum.ToDescription()</td>
                                    <td>
                                        <input tabindex="5" type="checkbox" disabled class="icheck-minimal-red menuChk" checked="@item.IsPaid">
                                    </td>
                                    <td style="text-align: right;">
                                    </td>
                                </tr> 
                                        }
                                        count++;
                                    }
                                </tbody>
                            </table>
                            <partial name="_Pagination" model="Model" view-data="ViewData" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    function PaidConfirm(url, id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, this Ipdrecord is paid.'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url + id;
            }
        })
    }

    function gotoDetail(Id) {
        window.location = "/IPDRecords/Details?id=" + Id;
    }

</script>

    @if (TempData["notice"] != null)
    {
        switch ((int)TempData["notice"])
        {
            case (int)StatusEnum.NoticeStatus.Success:
<script>SaveAlert('center', 'success', 'Admission');</script>
                break;
            case (int)StatusEnum.NoticeStatus.Edit:
<script>EditAlert('center', 'success', 'Admission');</script>
                break;
            case (int)StatusEnum.NoticeStatus.Delete:
<script>DeleteAlert('center', 'success', 'Admission');</script>
                break;
        }

    }
}